.films-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.films-table-cell {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.search-bar {
  margin-bottom: 20px;
}